.first{
    background-image: url("http://demo.themefisher.com/themefisher/lifetrakr/images/backgrounds/banner-bg.jpg");
}

header{
    background-color: #796ECB;
}

nav a{
    text-decoration: none;
    color: white;
}

.second{
    background-color: #F8F8F8;
}

.card-w-bg{
    background-color: #7D71D3;
}